<div class="jumbotron">
<div class="page-header">
  <h1>About The Bobcat Food Truck</h1>
</div>

<div class="row">
  <div class="col-md-4"><img class="img-responsive" src="http://www.smallfoodbiz.com/wp-content/uploads/gabi_091410_foodtruck-m.jpg"/></div>
  <div class="col-md-8">
    <h2>What we do?</h2>

    <p>We provide a cusotmizable food experience for Bates Students through:</p>

    <ul>
      <li>Location Requests</li>
      <li>Time Requests</li>
      <li>Cuisine Requests</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Additionally, we value Farm to Fork</h3>

    <p>We believe in supporting and building relationships with local Farms</p>

    <p>Here is a list of our partners and what they provide</p>

    <ul>
      <li>Vegetables and Fruits from Freedom Farm in Freedom </li>
      <li>Beef, Sausage and Bacon from Weebit Farm in Orland</li>
      <li>Chicken from Serendipity Acres in North Yarmouth</li>
      <li>Fish from Free Range Fish in Portland</li>
      <li>Eggs from Common Wealth Farm in Unity</li>
      <li>Bread from Forage Market in Lewiston</li>
    </ul>

    <p>We also get additional local foods through the Crown of Maine Organic Cooperative and Farm Fresh Connection.</p>
  </div>
  <div class="col-md-4"><img class="img-responsive" src="http://s3-media2.ak.yelpcdn.com/bphoto/NYgcwILUL1gwB-zsHYYiQQ/ls.jpg"/></div>
  <div class="col-md-4"><img class="img-responsive" src="http://www.localsproutscooperative.com/wp-content/uploads/freedomfarm.jpg"/></div>
</div>
</div>