<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://www.willstrathmann.com/wp-content/uploads/2013/02/bates-alumni-web-opt.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Request the Truck</h1>
          <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""><p></p>
          <p><a class="btn btn-lg btn-primary" href="/orders/new">Book Now</a>
        </p></pthis></div>
      </div>
    </div>
    <div class="item">
      <img src="http://media-cache-ec0.pinimg.com/originals/a0/7e/63/a07e635835d385b05a17d068fbc82946.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>We believe in Community Engagement</h1>
          <p><a class="btn btn-large btn-primary" href="/about">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://www.bates.edu/about/files/2009/06/648C24C25.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Find the Truck </h1>
          <p><a class="btn btn-large btn-primary" href="/location">Find Now</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->





