
<div class="jumbotron">
<h1>Request the Truck</h1>
     <p><img class="img-responsive" src=" http://m1.behance.net/rendition/modules/86579007/disp/b3770565b3f468854f9f7fe706e3dd97.png"/> 
    </p>
 <a class="btn btn-primary btn-lg" role="button"  href="/orders/new">Place a Request</a>
</div>



