
<div class="jumbotron">
<h1>Request the Truck</h1>
<div class="row"> 
     <div class="col-md-4"><img class="img-responsive" src=" http://m1.behance.net/rendition/modules/86579007/disp/b3770565b3f468854f9f7fe706e3dd97.png"/> 
     </div>
  <div class="col-md-8">    
  <form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Bates/Off-Campus House</label>
    <input type="email" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">First Name</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Last Name</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Email Address</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Time</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Cuisine</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Comments?</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
    <button type="submit" class="btn btn-primary btn-lg">Submit Request</button>
</form>
</div>
</div>


